@font-face {
    font-family: pixelMplus;
    src: url(../res/fonts/pixelMplus.ttf) format("truetype");
}

body {
    padding: 0px;
    border: 0px;
    margin: 0px;
}

#bq-canvas-container {
    position: relative;
    overflow: hidden;
    width: 1040px;
    height: 620px;
    margin: 0px auto;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.bq-menu {
    width: 800px;
    margin: 0 auto;
}

#bq-chat-input {
    width: 730px;
}

#bq-chat-form {
    font-family: pixelMplus;
}

#bq-chat-submit {
    margin: 5px 0px 2px 5px;
    width: 57px;
}

