doctype html
html
    include includes/head
    body
        .wrapper
            include includes/header
            #page-wrapper
                .row
                    //- write your content
                    .col-lg-12
                        h1.page-header Dashboard
                    .col-lg-6
                        .panel.panel-default
                            .panel-heading データストア
                            .panel-body
                                button#redis-button.btn.btn-default(type='button') redis リセット

        include includes/footer
        script(type='text/javascript').
            $('#redis-button').on('click', function() {
                $.ajax({
                    url: '/backend/kvs/purge',
                    method: 'post'
                }).done(function() {
                    "use strict";
                    console.log('done');
                })
            });
