doctype html
html
    include includes/header
    body
        .wrapper
            include partials/head
            #page-wrapper
                .row
                    //- write your content

        include includes/footer
