head
    link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
    link(href='/css/sb-admin.css', rel='stylesheet')
    link(href='/css/lib/font-awesome/css/font-awesome.min.css', rel='stylesheet')
    title BeamQuest Online Admin
