nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
    .navbar-header
        a.navbar-brand(href='/backend') BeamQuest Online Admin
    .navbar-default.navbar-static-side(role='navigation')
        .sidebar-collapse
            ul.nav
                li
                    div(style="padding: 10px 15px;") NODE_ENV: #{env}
                li
                    a(href='#')
                        i.fa.fa-dashboard.fa-fw
                        |  Dashboard
