<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>simple_beam_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{20,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,59}}</string>
                <key>sourceSize</key>
                <string>{20,59}</string>
            </dict>
            <key>simple_beam_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,2},{20,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,62}}</string>
                <key>sourceSize</key>
                <string>{20,62}</string>
            </dict>
            <key>simple_beam_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,2},{18,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,29}}</string>
                <key>sourceSize</key>
                <string>{18,29}</string>
            </dict>
            <key>simple_beam_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{45,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,58}}</string>
                <key>sourceSize</key>
                <string>{45,58}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>simple_beam.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:94f74d1473255a40dfae899cb1958943:66ae57dcf5d633b652e76b4c00cb1457:bb5b1fd0c101b385fb7d2c7a04661a3f$</string>
            <key>textureFileName</key>
            <string>simple_beam.png</string>
        </dict>
    </dict>
</plist>
