<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>large1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{20,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,32}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>large2.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,2},{20,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,32}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>large3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,36},{20,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,32}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>large4.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,36},{20,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,32}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>long1.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,36},{8,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,32}}</string>
                <key>sourceSize</key>
                <string>{8,32}</string>
            </dict>
            <key>long2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{8,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,32}}</string>
                <key>sourceSize</key>
                <string>{8,32}</string>
            </dict>
            <key>long3.png</key>
            <dict>
                <key>frame</key>
                <string>{{12,70},{8,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,32}}</string>
                <key>sourceSize</key>
                <string>{8,32}</string>
            </dict>
            <key>long4.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,70},{8,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,32}}</string>
                <key>sourceSize</key>
                <string>{8,32}</string>
            </dict>
            <key>small1.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,70},{4,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,12}}</string>
                <key>sourceSize</key>
                <string>{4,12}</string>
            </dict>
            <key>small2.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,70},{4,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,12}}</string>
                <key>sourceSize</key>
                <string>{4,12}</string>
            </dict>
            <key>small3.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,70},{4,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,12}}</string>
                <key>sourceSize</key>
                <string>{4,12}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>simple_beam.png</string>
            <key>size</key>
            <string>{64,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aea76b0de834f4e0472ecf0932d93237:5b41872e2fe559e72efb0e72376d4ca0:bb5b1fd0c101b385fb7d2c7a04661a3f$</string>
            <key>textureFileName</key>
            <string>simple_beam.png</string>
        </dict>
    </dict>
</plist>
