<div id="bq-status-window">
    <div class="bq-status-left-pane">
        <div class="bq-status-playername"><%=playerName %></a></div>
    </div>
    <div class="bq-status-right-pane">

    </div>
</div>